{% extends 'base.html' %}
{% load static %}
{% block content %}


<head>
   
    <title>About</title>
   
</head>
    

    <!-- Body main wrapper start -->
    <div id="top1" class="wrapper">

        <!-- START HEADER AREA -->
        
        <!-- END HEADER AREA -->

        <!-- START MOBILE MENU AREA -->
        
        <!-- END MOBILE MENU AREA -->



        <!-- START PAGE CONTENT -->
        <section id="page-content" class="page-wrapper section">

            <!-- BANNER-SECTION START -->
            
            <!-- BANNER-SECTION END -->

            <!-- START PAGE CONTENT -->
        <section id="page-content" class="page-wrapper section">

            <!-- BANNER-SECTION START -->
            <div class="banner-section ptb-70">
            <div class="container">

            </div>
            </div>
            <!-- BANNER-SECTION END -->


            <!-- ABOUT SECTION START -->
            <div class="about-section mb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title mt-40 mb-40 text-center">
                                <h2 style="color:#fd7e14" class="uppercase">ABOUT us</h2>
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-left">
                                <h2 class="uppercase">Who we are</h2>
                                <h6 class="mb-40">There are many variations of products of brands available,</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="about-photo p-20 bg-img-1">
                                <img src="{% static 'img/others/about.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="about-description mt-50">
                                <p>We are providing great deals with our customers, We have great products etc.. We are providing great deals with our customers, We have great products etc..We are providing great deals with our customers, We have great products etc.. We are providing great deals with our customers, We have great products etc..We are providing great deals with our customers, We have great products etc..</p>

                                <p>We are providing great deals with our customers, We have great products etc..We are providing great deals with our customers, We have great products etc..We are providing great deals with our customers, We have great products etc..We are providing great deals with our customers, We have great products etc..We are providing great deals with our customers, We have great products etc..We are providing great deals with our customers, We have great products etc..We are providing great deals with our customers, We have great products etc..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ABOUT SECTION END -->

            
        </section>
        <!-- End page content -->

       


            
        </section>
        <!-- End page content -->



            <!-- BREADCRUMBS SETCTION END -->

     


			 <!-- START FOOTER AREA -->
    

        </div>
        <!--style-customizer end -->
    </div>
    <!-- Body main wrapper end -->


    <!-- Placed JS at the end of the document so the pages load faster -->

    <!-- jquery latest version -->

{% endblock %}