<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Data Cable</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/icon/favicon.png' %}">


    <!-- All CSS Files -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="web/css/bootstrap.min.css">
    <!-- Nivo-slider css -->
    <link rel="stylesheet" href="web/lib/css/nivo-slider.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="web/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="web/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="web/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="web/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="web/css/custom.css">

    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" href="web/css/style-customizer.css">
    <link href="#" data-style="styles" rel="stylesheet">

    <!-- Modernizr JS -->
    <script src="web/js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Body main wrapper start -->
    <div id="top1" class="wrapper">

        <!-- START HEADER AREA -->
        <header  class="header-area header-wrapper header-2">

            <!-- header-middle-area -->
            <div style=" border-style: solid ; border: 3px solid #F90;
  border-top-width: 0px; border-right-width: 0px; border-left-width: 0px;  " id="sticky-header" class="header-middle-area plr-185"  id="sticky-header" class="header-middle-area plr-185">
                <div class="container-fluid">
                    <div class="full-width-mega-dropdown">
                        <div class="row">
                            <!-- logo -->
                            <div class="col-lg-2 col-md-4 col-4">
                                <div class="logo">
                                    <a href="index.html">
                                         <img src="web/img/logo/logo.svg"  width="142" height="46" alt="main logo">
                                    </a>
                                </div>
                            </div>
                            <!-- primary-menu -->
                            <div class="col-lg-8 d-none d-lg-block">
                                <nav id="primary-menu">
                                    <ul class="main-menu text-center">
                                        <li><a href="index.html">Home</a>
                                        </li>
                                    <style>
                                        html {
                                                scroll-behavior: smooth;
                                                }
                                    </style>
                                        <li class=" scrol1 mega-parent"><a  href="#product">Products</a>
                                        </li>
                                        <li>
                                            <a href="#who">About us</a>
                                        </li>
                                        <li>
                                            <a href="#cont">Contact</a>
                                        </li>
                                    </ul>
                                </nav>

                            </div>
                            <!-- header-search & total-cart -->
                            <div class="col-lg-2 col-md-8 col-8 align-self-center cart text-center">
                                <a href="cart.html"><i class="zmdi zmdi-shopping-cart"></i></a>
                            </div>

                    </div>
                </div>


            </div>
        </header>
        <!-- END HEADER AREA -->

        <!-- START MOBILE MENU AREA -->
        <div class="mobile-menu-area d-block d-lg-none section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li><a href="index.html">Home</a>

                                    </li>
                                    <li>
                                        <a href="#product">Products</a>
                                    </li>


                                    <li>
                                        <a href="#who">About Us</a>
                                    </li>
                                    <li>
                                        <a href="#cont">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MOBILE MENU AREA -->



        <!-- START PAGE CONTENT -->
        <section id="page-content" class="page-wrapper section">

            <!-- BANNER-SECTION START -->
            <div class="banner-section ptb-60">
                <div class="container">

            </div>
            </div>
            <!-- BANNER-SECTION END -->



         <!-- PRODUCT TAB SECTION START -->
            <div  class="product-tab-section section-bg-tb pt-80 pb-55">
                <div  class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center section-title mb-40">
                                <h2 style="color:#fd7e14" class="uppercase">Data Cable</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5 mb-5 selectt">   
                        <div class="col-6">
                            <select name="" id="" class="form-control">Brand
                                <option value="A">Brand</option>
                                <option value="A">A</option>
                                <option value="A">A</option>
                                <option value="A">A</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <select class="form-control" name="" id="">Brand
                                <option value="A">Model</option>
                                <option value="A">A</option>
                                <option value="A">A</option>
                                <option value="A">A</option>
                            </select>
                        </div>
                    </div>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- popular-product start -->
                        <div id="popular-product" class="tab-pane active show">
                            <div class="row">


                                <div class="col-lg-3 col-6">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/3.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title text-left">
                                                <a href="#product">Data Cable</a>
                                            </h6>
                                            <h5 class="brand-name">Brand</h5>
                                            <h5 class="brand-name">Model</h5>
                                            <h4 class="pro-price">Price</h4>
                                            <form action="cart.html">
                                            <button class="btnn mt-3 mb-3">Add to Cart</button>
                                             </form>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/3.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title text-left">
                                                <a href="#product">Data Cable</a>
                                            </h6>
                                            <h5 class="brand-name">Brand</h5>
                                            <h5 class="brand-name">Model</h5>
                                            <h4 class="pro-price">Price</h4>
                                            <form action="cart.html">
                                            <button class="btnn mt-3 mb-3">Add to Cart</button>
                                             </form>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/3.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title text-left">
                                                <a href="#product">Data Cable</a>
                                            </h6>
                                            <h5 class="brand-name">Brand</h5>
                                            <h5 class="brand-name">Model</h5>
                                            <h4 class="pro-price">Price</h4>
                                            <form action="cart.html">
                                            <button class="btnn mt-3 mb-3">Add to Cart</button>
                                             </form>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/3.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title text-left">
                                                <a href="#product">Data Cable</a>
                                            </h6>
                                            <h5 class="brand-name">Brand</h5>
                                            <h5 class="brand-name">Model</h5>
                                            <h4 class="pro-price">Price</h4>
                                            <form action="cart.html">
                                            <button class="btnn mt-3 mb-3">Add to Cart</button>
                                             </form>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/3.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title text-left">
                                                <a href="#product">Data Cable</a>
                                            </h6>
                                            <h5 class="brand-name">Brand</h5>
                                            <h5 class="brand-name">Model</h5>
                                            <h4 class="pro-price">Price</h4>
                                            <form action="cart.html">
                                            <button class="btnn mt-3 mb-3">Add to Cart</button>
                                             </form>
                                        </div>

                                    </div>
                                </div>

                                
                               
                            </div>
                        </div>
                        <!-- popular-product end -->


                        <!-- new-arrival start -->
                        <div id="new-arrival" class="tab-pane" role="tabpanel">
                            <div class="row">
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/7.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item Data Cable">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/6.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/5.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/4.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/3.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/2.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/1.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/7.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                            </div>
                        </div>
                        <!-- new-arrival end -->
                        <!-- best-seller start -->
                        <div id="best-seller" class="tab-pane" role="tabpanel">
                            <div class="row">
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/1.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/4.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/7.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/5.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/6.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/2.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/3.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/4.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                            </div>
                        </div>
                        <!-- best-seller end -->
                        <!-- special-offer start -->
                        <div id="special-offer" class="tab-pane" role="tabpanel">
                            <div class="row">
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/3.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/1.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/2.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/4.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/5.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/6.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/7.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                                <!-- product-item start -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-item product-item-2">
                                        <div class="product-img">
                                            <a href="#product">
                                                <img src="web/img/product-2/3.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="product-title">
                                                <a href="#product">Product Name</a>
                                            </h6>
                                            <h6 class="brand-name">Sumsung</h6>
                                            <h3 class="pro-price">SAR 869.00</h3>
                                        </div>

                                    </div>
                                </div>
                                <!-- product-item end -->
                            </div>
                        </div>
                        <!-- special-offer end -->
                    </div>
                </div>
            </div>
            <!-- PRODUCT TAB SECTION END -->










          



            <!-- Start page content -->
        <div   class="product-tab-section section-bg-tb pt-80 pb-55">

           

            
        </section>
        <!-- End page content -->



            <!-- BREADCRUMBS SETCTION END -->

     


			 <!-- START FOOTER AREA -->
        <footer id="footer" class="footer-area footer-2 section">
            <div class="footer-top footer-top-2 text-center ptb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer-logo">
                                <img src="web/img/logo/logo.svg"  width="142" height="46" alt="">
                            </div>
                            <ul class="footer-menu-2">
                                <li><a href="#top1">Home</a></li>
                                <li><a  href="#product">Products</a></li>


                                <li><a href="#who">About us</a></li>
                                <li><a href="#cont">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom footer-bottom-2 text-center gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="copyright-text copyright-text-2">
                                <p>&copy; <a href="#" target="_blank">Calltone </a> 2020. All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <ul class="footer-social footer-social-2">
                                <li>
                                    <a class="facebook" href="web/" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="google-plus" href="web/" title="Instagram"><i class="zmdi zmdi-instagram"></i></a>
                                </li>
                                <li>
                                    <a class="twitter" href="web/" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-3">

                        </div>
                    </div>
                </div>
            </div>
        </footer>

        </div>
        <!--style-customizer end -->
    </div>
    <!-- Body main wrapper end -->


    <!-- Placed JS at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="web/js/vendor/jquery-3.1.1.min.js"></script>
    <!-- Popper js -->
    <script src="web/js/popper.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="web/js/bootstrap.min.js"></script>
    <!-- jquery.nivo.slider js -->
    <script src="web/lib/js/jquery.nivo.slider.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="web/js/plugins.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="web/js/main.js"></script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDacJcoyPCr-jdlP9HK93h3YKNyf710J0"></script>
      <!-- <script src="web/js/map.js"></script>
       <script src="web/js/ajax-mail.js"></script> -->

</body>

</html>