{% load static %}
<footer id="footer" class="footer-area footer-2 section">
            <div class="footer-top footer-top-2 text-center ptb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer-logo">
                                <img src="{% static 'img/logo/logo.svg' %}"  width="142" height="46" alt="">
                            </div>
                            <ul class="footer-menu-2">
                                <li><a href="/">Home</a></li>


                                <li><a href="/about/">About us</a></li>
                                <li><a href="/contact/">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom footer-bottom-2 text-center gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="copyright-text copyright-text-2">
                                <p>&copy; <a href="#" target="_blank">Calltone </a> 2020. All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <ul class="footer-social footer-social-2">
                                <li>
                                    <a class="facebook" href="#" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="google-plus" href="#" title="Instagram"><i class="zmdi zmdi-instagram"></i></a>
                                </li>
                                <li>
                                    <a class="twitter" href="#" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-3">

                        </div>
                    </div>
                </div>
            </div>
        </footer>